*{
    font-family: 'Fredoka One', cursive;
}

.lan-page-head{
    position: fixed;
    top: 0;
    background-color: #0a6783;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    font-size: 40px;
}

.lan-page-head-logo{
    font-size: 5vmin;
    color: white;
}

.signin-btn{
    color: white;
    background-color: #F2962F;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 7px;
    float: right;
    font-size: 3vmin;
}
.signin-btn:hover{
    color: #006989;
    background-color: white;
}

.lan-page-body-dark{
    color: white;
    background-color: #0a6783;
    padding: 150px 0px 40px 40px; 
    height: 80vh;
}

.dark{
    position: absolute;
    top:40vh;
    left: 7vw;
}

.lan-page-body-ol{
    color:  #F2962F;
    font-size: 2vmax;
}

.lan-page-site-name{
    font-size: 6vmax;
}

.signup-btn{
    color: white;
    background-color: #F2962F;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 3.5vmin; 
}

.signup-btn:hover{
    background-color: white;
    color: #0a6783;
    border: 2px solid #0a6783;
}


.lan-page-body-med{
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #006989;
    height: 400px;
}

.lan-page-body-med-l{
    flex: 50%;
}

.lan-page-body-med-r{
    flex: 50%;
    color: #006989;
    font-size: 30px;
}



.lan-page-body-light{
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #006989;
    height: 400px;
}

.lan-page-body-light-l{
    flex: 50%;
    font-size: 30px;
}

.lan-page-body-light-r{
    flex: 50%;
    
}

.lan-page-footer{
    text-align: center;
}

.lan-page-footer-logo{
    font-size: 30px;
    color: #006989;
    text-align: center;
}


@media screen and (max-width:700px) {
    .lan-page-body-med{
        background-image: linear-gradient(to bottom, #ceddf0,white);
        flex-direction: column-reverse;
    }

    .lan-page-body-med-l{
        flex: 85%;   
    }
    
    .lan-page-body-med-r{
        flex: 15%;
        margin: 20px;
    }

    .lan-page-body-light{
        background-image: linear-gradient(to bottom, #ceddf0,white);
        flex-direction: column;
    }

    .lan-page-body-light-l{
        flex: 15%;
        margin: 20px;   
    }
    
    .lan-page-body-light-r{
        flex: 85%;
    }

}



.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(221, 227, 236);
    text-align: center;
}

.form{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #006989;
    border-radius: 10px;
    width: 430px;
}

.signin-logo{
    color: #006989;
    font-size: 45px;
}

.inp-fields{
    width:350px;
    border:solid 2px #006989;
    border-radius: .5em;
    padding: 10px 10px;
}

.inp-fields:hover{
    border-color:#F2962F;
}

.inp-fields:focus{
    border-color:#F2962F;
    outline: 0;
}

.form-signin-btn{
    color: white;
    background-color: #F2962F;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px; 
}

.form-links{
    text-decoration: none;
}

.form-links:hover{
    color: #F2962F;
}

.form-checkbox{
    position: relative;
    right:100px;
    margin-top: 5px;
}

.checkbox-ol{
    color: #006989;
}

.hero-image{
    position:absolute;
    right: 50px;
    top:120px;
    height: 30vw;
    width: 25vw;
}